* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 940px;
    margin: 0 auto;
}

/* HEADER */

header nav{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

header ul{
    margin-left: 122.4px;
}

header ul li{
    display: inline-block;
    margin-right: 30px;

}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 29px;
    font-weight: normal;

}

header .logo a{
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

/* BANNER */

section.banner{
    width: 100%;
    background-color: rgba(251,223,219,1);
    height: 366px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 50px;
}

section.banner h2{
    color: rgba(17,17,17,1);
    font-size: 32px;
    line-height: 38px;
    position: absolute;
    top: 117px;
    left: 60px;
    font-weight: bold;
}

section.banner p{
    color: rgba(0,0,0,1);
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    position: absolute;
    top: 165px;
    left: 60px;
    max-width: 316px;
    text-align: justify;
    font-weight: normal;
}

section.banner img{
    position: absolute;
    right: 100px;
    bottom: 0px;
}

/* MOST ACCESSED */

section.recips{
    margin-bottom: 50px;
}

section.recips .recipes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

section.recips .recipe{
    margin-bottom: 10px;
}

section.recips .recipe img{
    width: 100%;
    border-radius: 15px;
}

section.recips h2{
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(17,17,17,1);
    font-size: 24px;
    line-height: 28px;
}

section.recips h3{
    margin-top: 20px;
    font-weight: normal;
    color: rgba(17,17,17,1);
    font-size: 18px;
    line-height: 21px;
}

section.recips p{
    margin-top: 5px;
    font-weight: normal;
    color: rgba(119,119,119,1);
    font-size: 14px;
    line-height: 16px;
}

/* FOOTER */

footer{
    width: 100%;
    height: 62px;
    background-color: rgba(238,238,238,1);
}

footer p{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    display: block;
    text-align: center;
    padding: 20px 0;
}

/* SOBRE */

section.sobre-texto{
    margin-bottom: 30px;
}

section.sobre-texto h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: rgba(17,17,17,1);
    margin-top: 50px;
    margin-bottom: 20px;
}

section.sobre-texto p{
    color:rgba(68,68,68,1);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    font-weight: normal;
}

section.text-comeco {
    margin-bottom: 30px;
}

section.text-comeco h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(17,17,17,1);
    margin-bottom: 20px;
}

section.text-comeco p{
    color:rgba(68,68,68,1);
    text-align: justify;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

section.text-receitas{
    margin-bottom: 50px;
}

section.text-receitas h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(17,17,17,1);
    margin-bottom: 20px;
}

section.text-receitas p{
    color:rgba(68,68,68,1);
    text-align: justify;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

/* MODAL */
.modal-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    /* visibility: hidden; */
}

.modal-overlay .modal {
    background-color: white;
    width: 660px;
    height: 413px;
    position: relative;
    top: calc(50% - 212.5px);
    left: calc(50% - 330px);
    border-radius: 16px;
}

.modal .modal-content img{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 30px;
}

.modal .modal-content h3{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: black;
    line-height: 28px;
    font-weight: normal;
}

.modal .modal-content p{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: rgba(119,119,119,1);
    line-height: 21px;
    font-weight: normal;
}

.modal .close-modal {
    text-align: center;
    margin-top: 60px; 
}

.modal .close-modal a{
    text-decoration: none;
    color: rgba(153,153,153,1);
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}


/* ==== MODAL.ACTIVE ==== */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}