<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Leonardo Freitas">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">

    {% block head %}
    <title>FoodFy</title>
    {% endblock %}
</head>

<body>

    <header>
        <div class="container">
            <nav>
                <h1 class="logo"><a href="/">FoodFy</a></h1>

                <ul>
                    <li><a href="/">Sobre</a></li>
                    <li><a href="/">Receitas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </footer>

</body>

</html>