{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - FoodFy</title>
{% endblock %}

{% block content%}
    <main>
        <div class="container">

            <section class="receita">
                <div class="img">
                    <img src="{{recipe.image}}" alt="">
                </div>

                <div class="container-author">
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div>

                <div class="ingredientes">
                    <div class="title">
                        <h3 class="close">Ingredientes</h3>
                        <a class="close" href="">Esconder</a>
                    </div>

                    <div class="content">
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="modo-preparo">
                    <div class="title">
                        <h3>Modo de preparo</h3>
                        <a href="">Mostrar</a>
                    </div>

                    <div class="content">
                        <ul>
                            {% for instruction in recipe.preparation %}
                                <li>{{instruction}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="info-adicional">

                    <div class="title">
                        <h3>Informações adicionais</h3>
                        <a href="">Esconde</a>
                    </div>

                    <div class="content">

                        {% for paragaf in recipe.information %}
                            <p>{{paragaf}}</p>
                        {% endfor %}

                    </div>

                </div>
            </section>
        </div>
    </main>

{% endblock %}