<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Leonardo Freitas">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">

    <title>FoodFy</title>
</head>

<body>

    <header>
        <div class="container">
            <nav>
                <h1 class="logo"><a href="/">FoodFy</a></h1>

                <ul>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/receitas">Receitas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="sobre-texto">
                <h2>Sobre o Foodfy</h2>
                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                    Aliquam
                    vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt
                    risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc,
                    interdum
                    in erat
                    placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra maximus. In vehicula enim nec
                    nibh
                    porta tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex, semper vitae
                    eros
                    ut,euismod convallis augue.
                </p>
                <p>Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                    accumsan.
                    Proin
                    ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices
                    lacus.
                    Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec
                    nisl
                    at
                    accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla
                    faucibus
                    enim
                    ultricies euismod.</p>
            </section>

            <section class="text-comeco">
                <h2>Como tudo começou…</h2>
                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                    Aliquam
                    vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt
                    risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc,
                    interdum
                    in erat placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra maximus. In vehicula
                    enim
                    nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex, semper
                    vitae eros ut, euismod convallis augue.</p>

                <p>Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                    Aliquam
                    vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt
                    risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc,
                    interdum
                    in erat placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra maximus.</p>
            </section>

            <section class="text-receitas">
                <h2>Nossas receitas</h2>
                <p>Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                    accumsan.
                    Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                    ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                    Praesent
                    euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros.
                    Nunc
                    ut nulla faucibus enim ultricies euismod.</p>
            </section>

        </div>
    </main>

    <footer>
        <p>Todos os direitos reservados, receitas FoodFy</p>
    </footer>

</body>

</html>