* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 940px;
    margin: 0 auto;
}

.recipe a{
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}

/* HEADER */

header nav{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

header ul{
    margin-left: 122.4px;
}

header ul li{
    display: inline-block;
    margin-right: 30px;

}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 29px;
    font-weight: normal;

}

header .logo a{
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

/* BANNER */

section.banner{
    width: 100%;
    background-color: rgba(251,223,219,1);
    height: 366px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 50px;
}

section.banner h2{
    color: rgba(17,17,17,1);
    font-size: 32px;
    line-height: 38px;
    position: absolute;
    top: 117px;
    left: 60px;
    font-weight: bold;
}

section.banner p{
    color: rgba(0,0,0,1);
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    position: absolute;
    top: 165px;
    left: 60px;
    max-width: 316px;
    text-align: justify;
    font-weight: normal;
}

section.banner img{
    position: absolute;
    right: 100px;
    bottom: 0px;
}

/* MOST ACCESSED */

section.recips{
    margin-bottom: 50px;
}

section.recips .recipes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

section.recips .recipe{
    margin-bottom: 10px;
}

section.recips .recipe:hover{
    cursor: pointer;
}

section.recips .recipe img{
    width: 100%;
    border-radius: 15px;
}

section.recips h2{
    margin-bottom: 20px;
    font-weight: bold;
    color: rgba(17,17,17,1);
    font-size: 24px;
    line-height: 28px;
}

section.recips h3{
    margin-top: 20px;
    font-weight: normal;
    color: rgba(17,17,17,1);
    font-size: 18px;
    line-height: 21px;
}

section.recips p{
    margin-top: 5px;
    font-weight: normal;
    color: rgba(119,119,119,1);
    font-size: 14px;
    line-height: 16px;
}

/* FOOTER */

footer{
    width: 100%;
    height: 62px;
    background-color: rgba(238,238,238,1);
}

footer p{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    display: block;
    text-align: center;
    padding: 20px 0;
}

/* SOBRE */

section.sobre-texto{
    margin-bottom: 30px;
}

section.sobre-texto h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: rgba(17,17,17,1);
    margin-top: 50px;
    margin-bottom: 20px;
}

section.sobre-texto p{
    color:rgba(68,68,68,1);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    font-weight: normal;
}

section.text-comeco {
    margin-bottom: 30px;
}

section.text-comeco h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(17,17,17,1);
    margin-bottom: 20px;
}

section.text-comeco p{
    color:rgba(68,68,68,1);
    text-align: justify;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

section.text-receitas{
    margin-bottom: 50px;
}

section.text-receitas h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(17,17,17,1);
    margin-bottom: 20px;
}

section.text-receitas p{
    color:rgba(68,68,68,1);
    text-align: justify;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

/* PAGINA RECEITAS */
section.receita .img{
    margin-top: 50px;
    margin-bottom: 50px;
}

section.receita img{
    width: 940px;
    height: 280px;
    border-radius: 15px;
}

section.receita .title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

section.receita .title-container p{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    align-content: center;
} 

section.receita a{
    background: #6558C3;
    border-radius: 4px;
    width: 136px;
    height: 37px;
    text-align: center;
    padding: 9px;
    color: white;
    text-decoration: none;
    line-height: 19px;
    font-size: 16px;
}

section.receita .container-author{
    text-align: center;
    margin-bottom: 50px;
}

section.receita .container-author h3{
    font-size: 36px;
    line-height: 42px;
    color: #111111;
}

section.receita .container-author p{
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    font-weight: normal;
}

section.receita .title{
    margin-bottom: 20px;
}

section.receita h3{
    font-size: 24px;
    color: #111111;
    line-height: 28px;  
    color: #111111;
    display: inline-block;
    margin-left: 8px;
    margin-left: 0;
}

section.receita span{
    cursor: pointer;
    color: #999999;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
}

section.receita .content{ margin-bottom: 39px;}

section.receita .content ul{
    list-style: disc;
    list-style-position: inside;
}

section.receita .content li{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

section.receita .info-adicional p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-bottom: 15px;
}

.hide{
    display: none;
}

/* Pagina Editar */

section.editar-receita .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

section.editar-receita .title div button:nth-child(2){
    margin-left: 30px;
}

section.editar-receita .title div button.del{
    background: #DC4747;
}

section.editar-receita .title p{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

button[type="submit"]{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background: #6558C3;
    border-radius: 4px;
    border-radius: 4px;
    height: 37px;
    width: 139px;
    border: none;
}

section.editar-receita .content p{
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
}

section.editar-receita .content input{
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: #111111;
    padding: 15px 20px;
    margin-bottom: 10px;
}

section.editar-receita .content button{
    font-size: 16px;
    color: #6558C3;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
    border: none;
    font-weight: none;
    cursor: pointer;
}

section.editar-receita .content textarea{
    resize: none;
    width: 100%;
    height: 257px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    color: #111111;
    line-height: 24px;
    padding: 20px 15px;
    }






/* Fim pagina editar */