{% extends "layout.njk" %}

{% block head %}
    <title>Editar receita - FoodFy</title>
{% endblock %}

{% block content %}
    <main>
        <div class="container">

            <section class="editar-receita">

                <form action="">

                    <div class="title">
                        <p>Criando receita</p>
                        <div>
                            <button type="submit" action="action">Salvar receita</button>
                        </div>
                    </div>

                    {# Imagem da receita #}
                    <div class="content">
                        <p>Imagem da receita</p>
                        <input type="url" name="image" id="">
                    </div>

                    <div class="content">
                        <p>Ingredientes</p>
                        <input type="text" name="image" id="">
                        <button type="button" id="add-new-ingredient">Adicionar novo ingrediente</button>
                    </div>

                    <div class="content">
                        <p>Modo de Preparo</p>
                        <input type="text" name="image" id="">
                        <button type="button" id="add-new-ingredient">Adicionar novo passo</button>
                    </div>

                    <div class="content">
                        <p>Informações adicionais</p>
                        <textarea name="" id=""></textarea>
                    </div>

                </form>

            </section>

        </div>
    </main>
{% endblock content %}