{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - FoodFy</title>
{% endblock %}

{% block content%}
    <main>
        <div class="container">

            <section class="receita">
                <div class="img">
                    <div class="title-container">
                        <p>Receita: {{ recipe.title }}</p>
                        <a href="/admin/recipes/{{ recipe.id }}/edit">Editar Receita</a>  
                    </div>
                    <img src="{{recipe.image}}" alt="">
                </div>

                <div class="container-author">
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                </div>

                <div class="ingredientes">
                    <div class="title">
                        <h3>Ingredientes</h3>
                        <span id="ingredientes" class="button">Esconder</span>
                    </div>

                    <div class="content ingredientes-content">
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="modo-preparo">
                    <div class="title">
                        <h3>Modo de preparo</h3>
                        <span id="modo-preparo" class="button">Esconder</span>
                    </div>

                    <div class="content modo-preparo-content">
                        <ul>
                            {% for instruction in recipe.preparation %}
                                <li>{{instruction}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="info-adicional">

                    <div class="title">
                        <h3>Informações adicionais</h3>
                        <span id="info-adicional" class="button">Esconder</span>
                    </div>

                    <div class="content info-adicional-content">

                        {% for paragaf in recipe.information %}
                            <p>{{paragaf}}</p>
                        {% endfor %}

                    </div>

                </div>
            </section>
        </div>
    </main>

    <script src="/script.js"></script>

{% endblock %}